<a href="https://colab.research.google.com/github/The-Calculated-Life/python_analysis_for_excel/blob/main/1_Import_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Template: Insert Project Title Here


---

<br>

***Project structure:***


1.   Define the objective
2.   Import packages and data
3.   Explore and analyze

<br>

## **Objective**
---

*Analyze the [Kiva.org](https://www.kiva.org/) lending platform. Understand how much money has been borrowed, for what purpose, and where the borrowers live.*

<br>

In particular, we want to answer the following groups of questions:



1.   How much money has been borrowed through Kiva's lending platform? How has the amount of funding changed over time?
2.   How much funding has been provided by category (theme)? What are the largest categories?
3.   How does funding vary by world region? What are the most popular themes in each region?

<br><br>

## **Import packages and data**
---

Replace this text with information about your data source. You may want to include a link to the data source.

The goal is to make this notebook as clear as possible for our future self, other analysts and decision makers.

In [7]:
# Import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
# Import data
kiva_loans_path = 'https://media.githubusercontent.com/media/The-Calculated-Life/python_analysis_for_excel/main/data/kiva_loans.csv'
locations_path = 'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/kiva_mpi_region_locations.csv'
themes_path = 'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/loan_theme_ids.csv'
region_themes_path = 'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/loan_themes_by_region.csv'

kiva_loans = pd.read_csv(kiva_loans_path)
locations = pd.read_csv(locations_path)
themes = pd.read_csv(themes_path)
region_themes = pd.read_csv(region_themes_path)

<br><br>

## **Explore and Analyze**
---

You can also include notes here. Feel free to also include text between code cells throughout the notebook.

In [ ]:
# Perform common cleaning operations like checking for missing data, removing duplicates and splitting columns
# Create summary tables, new variables, etc...
# Create charts

In [21]:
kiva_loans.shape

(671205, 20)

In [9]:
kiva_loans.head()

       id  funded_amount  ...  repayment_interval        date
0  653051          300.0  ...           irregular  2014-01-01
1  653053          575.0  ...           irregular  2014-01-01
2  653068          150.0  ...              bullet  2014-01-01
3  653063          200.0  ...           irregular  2014-01-01
4  653084          400.0  ...             monthly  2014-01-01

[5 rows x 20 columns]

In [10]:
locations.head()

              LocationName  ISO  ...        lat        lon
0  Badakhshan, Afghanistan  AFG  ...  36.734772  70.811995
1     Badghis, Afghanistan  AFG  ...  35.167134  63.769538
2     Baghlan, Afghanistan  AFG  ...  35.804295  69.287754
3       Balkh, Afghanistan  AFG  ...  36.755060  66.897537
4      Bamyan, Afghanistan  AFG  ...  34.810007  67.821210

[5 rows x 9 columns]

In [22]:
locations.shape

(2772, 9)

In [11]:
themes.head()

       id    Loan Theme ID          Loan Theme Type  Partner ID
0  638631  a1050000000skGl                  General       151.0
1  640322  a1050000000skGl                  General       151.0
2  641006  a1050000002X1ij         Higher Education       160.0
3  641019  a1050000002X1ij         Higher Education       160.0
4  641594  a1050000002VbsW  Subsistence Agriculture       336.0

In [23]:
themes.shape

(779092, 4)

In [12]:
region_themes.head()

   Partner ID  ... rural_pct
0           9  ...      90.0
1           9  ...      90.0
2           9  ...      90.0
3           9  ...      90.0
4           9  ...      90.0

[5 rows x 21 columns]

In [24]:
region_themes.shape

(15736, 21)

In [20]:
locations.loc[:, 'ISO':'MPI'].dropna()

      ISO      country              region        world_region    MPI
0     AFG  Afghanistan          Badakhshan          South Asia  0.387
1     AFG  Afghanistan             Badghis          South Asia  0.466
2     AFG  Afghanistan             Baghlan          South Asia  0.300
3     AFG  Afghanistan               Balkh          South Asia  0.301
4     AFG  Afghanistan              Bamyan          South Asia  0.325
...   ...          ...                 ...                 ...    ...
1003  ZWE     Zimbabwe    Mashonaland West  Sub-Saharan Africa  0.192
1004  ZWE     Zimbabwe            Masvingo  Sub-Saharan Africa  0.174
1005  ZWE     Zimbabwe  Matabeleland North  Sub-Saharan Africa  0.238
1006  ZWE     Zimbabwe  Matabeleland South  Sub-Saharan Africa  0.164
1007  ZWE     Zimbabwe            Midlands  Sub-Saharan Africa  0.176

[984 rows x 5 columns]